.root{
    background: var(--Background, #060606);
    accent-1: var(--ui-accent, #00FFF2);
}

.body{
    display: flex;
    width: 1440px;
    height: 3391px;
    padding: 0px 90px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    overflow-x: hidden;
    background: var(--Background, #060606);
    font-family: Inter;
    margin: 0;
}
  
/** NavBar **/
  .menu-container {
    background: var(--Background, #060606);
    position: relative;
    padding: 10px 90px 0px 90px;
    z-index: 1;
    display: flex;
    max-height: 161px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    box-sizing: border-box;
  }
  
  .menu-logo {
    line-height: 0;
    margin: 0 20px;
  }
  
  .menu-logo img {
    max-height: 40px;
    max-width: 1000px;
    flex-shrink: 0;
  }
  
  .menu-container a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  
  .menu-container a:hover {
    color: #00FFF2;
  }
    
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  
  @media only screen and (min-width: 768px) { 
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: #cdcdcd;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
  }

  /**Hero**/
  .hero{
    background: linear-gradient(180deg, rgba(6,6,6,1) 0%, rgba(0,255,242,0.19044114227722342) 49%, rgba(6,6,6,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-video{
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
  }

  @media (min-aspect-ratio: 16/9) {
    .hero-video{
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .hero-video{
      width: auto;
      height: 100%;
    }
  }
  
  .hero h1, p{
    text-align: center;
    color: white;
  }

  /**About Us **/
.about_citiview{
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
}  
.about_citiview h1{
     /**Typography**/
    color: #00FFF2;
    text-align: center;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 47.25px; 
    text-transform: uppercase;
}

.about_citiview p{
    width: 50%;
    /**Typography**/
    color: #F2F2F2;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/**Features**/

.features_container {
    place-items: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
  }
 
  .features_container h2{
    margin:0;
    color: #000;
    font-size: 20px;
    font-style: bold;
    font-weight: 600;
    text-transform: uppercase;
  }

  .features_container p{
    color: #FFF;
    text-align: start;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
  .features_container p{
    color: #FFF;
    text-align: start;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
.features_container section{
    border-radius: 30px;
    background: rgba(0, 255, 242, 0.75);
    width: 50%;
    padding: 21px;
    gap: 12px;
    flex-shrink: 0;
}

/**Features animations**/

.hidden_1{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s ease;
    overflow-x: hidden;
}

.hidden_2{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(50%);
    transition: all 1s ease;
    overflow-x: hidden;
}

.show_1{
    opacity: 1;
    filter: blur(0px);    
    transform: translateX(0%);
}

.show_2{
    opacity: 1;
    filter: blur(0px);    
    transform: translateX(0%);
}


@media(prefers-reduced-motion){
    .hidden_1{
        transition: none;    
    }
    .hidden_2{
        transition: none;    
    }
}

/**how time works**/
.how-it-works h1{
     /**Typography**/
    color: #00FFF2;
    text-align: center;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 47.25px; 
    text-transform: uppercase;
}