.root{
    background: var(--Background, #060606);
    accent-1: var(--ui-accent, #00FFF2);
}

.body{
    font-weight: 300px;
    display: flex;
    width: 1440px;
    height: 3391px;
    padding: 0px 90px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    overflow-x: hidden;
    background: var(--Background, #060606);
    font-family: Inter;
    margin: 0;
}
  
/** NavBar **/
.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  background: #060606;
  color: #060606;
  padding: 20px 90px 0 90px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  opacity : 1;
  max-height: 100px;
  max-width: 100px;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: #00fff2;
}

.menu-container input {
  display: block;
  width: 100px;
  height: 50px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  background-image: url("/resources/img/logo/logo-1000.png");
  z-index: 1;
}


.menu-container input:checked ~ span {
  opacity: 1;
  background-image: url("/resources/img/logo/logo-1000.png");
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) { 
  iframe{
    padding-bottom: 50px;
    width: auto;
    height: auto;
  }
  footer{
    width: auto;
    height: auto;
  }

  .menu-container {
    margin-left: -50px;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .menu-logo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    opacity : 0;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    left: -300px;
    top: 0;
    margin: -20px;
    padding: 85px 80px 50px;
    background: var(--Background, #060606);
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(100%);
  }

  
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #f8f8f8;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}

  /**Hero**/
  .hero{
    background: linear-gradient(180deg, rgba(6,6,6,1) 0%, rgba(0,255,242,0.19044114227722342) 49%, rgba(6,6,6,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-video{
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
  }

  @media (min-aspect-ratio: 16/9) {
    .hero-video{
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .hero-video{
      width: auto;
      height: 100%;
    }
  }
  
  .hero h1, p{
    text-align: center;
    color: white;
  }

  /**About Us **/
.about_citiview{
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
}  
.about_citiview h1{
     /**Typography**/
    color: #00FFF2;
    text-align: center;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 47.25px; 
    text-transform: uppercase;
}

.about_citiview p{
    width: 50%;
    /**Typography**/
    color: #F2F2F2;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/**Features**/

.features_container {
    place-items: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
  }
 
  .features_container h2{
    margin:0;
    color: #000;
    font-size: 20px;
    font-style: bold;
    font-weight: 600;
    text-transform: uppercase;
  }

  .features_container p{
    color: #FFF;
    text-align: start;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
  .features_container p{
    color: #FFF;
    text-align: start;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
.features_container section{
    border-radius: 30px;
    background: rgba(0, 255, 242, 0.75);
    width: 50%;
    padding: 21px;
    gap: 12px;
    flex-shrink: 0;
}

/**Features animations**/

.hidden_1{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s ease;
    overflow-x: hidden;
}

.hidden_2{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(50%);
    transition: all 1s ease;
    overflow-x: hidden;
}

.show_1{
    opacity: 1;
    filter: blur(0px);    
    transform: translateX(0%);
}

.show_2{
    opacity: 1;
    filter: blur(0px);    
    transform: translateX(0%);
}


@media(prefers-reduced-motion){
    .hidden_1{
        transition: none;    
    }
    .hidden_2{
        transition: none;    
    }
}

/**how time works**/
.how-it-works h1{
     /**Typography**/
    color: #00FFF2;
    text-align: center;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 47.25px; 
    text-transform: uppercase;
}

footer {  
    padding-top: 90px;
    display: flex;  
    justify-content: center;
    align-items: center;
    text-align: center;  
}