:root {
    --background: #060606;
    --ui-accent: #1E1E1E;
    --ui-content: #E6E6E6;
    --rainbow-gradient: linear-gradient(90deg, #003 0%, #0000AF 20%, #222DFF 40%, #4FFA4F 60%, #FFFF43 80%, #FF1B1B 100%);
}

body {
    margin: 0;
    background-color: var(--background);
    overflow: hidden;
}

* {
    font-family: Inter;
    font-weight: 300;
}

button,
input,
textarea {
    border: none;
    background-color: var(--ui-accent);
    color: var(--ui-content);
    resize: none;
}

#map {
    background-image: url(/resources/img/debug-bg.png);
}

*:focus {
    outline: none;
}

.profile {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.profile img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.searchbar {
    position: absolute;
    top: 18px;
    left: 18px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: var(--ui-accent);
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 200ms border-radius;
}

.results {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--ui-accent);
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    list-style-type: none;
    gap: 10px;
    display: none;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    border: none;
    border-top: 1px solid var(--ui-content);
}

.results li {
    display: none;
    align-items: center;
    gap: 10px;
    height: 30px;
    cursor: pointer;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.results li img {
    height: 100%;
}

#search {
    border: none;
    background: transparent;
    font-size: 18px;

    --mask: linear-gradient(to right,
            rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 0) 100% 50% / 100% 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    color: var(--ui-content);
}

#search-icon {
    height: 100%;
    cursor: pointer;
}

#add-button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    bottom: 18px;
    right: 18px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
}

#add-button img {
    width: 100%;
    height: 100%;
}

.add-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--ui-accent);
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    transform: translateY(-100%);
}

.add-top {
    display: flex;
    height: 20px;
}

#add-title {
    font-size: 20px;
}

.add-buttons>img {
    height: 100%;
    cursor: pointer;
}

.add-buttons {
    margin-left: auto;
    display: flex;
    gap: 15px;
}

#add-description {
    font-size: 16px;
    height: 6em;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}


/******** Chrome, Safari, Opera and Edge Chromium styles ********/
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--rainbow-gradient);
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -11px;
    background-color: var(--ui-content);
    border-radius: 0.5rem;
    height: 30px;
    width: 10px;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: none;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: var(--rainbow-gradient);
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: var(--ui-content);
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 30px;
    width: 10px;
}

.popup-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--ui-accent);
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    transform: translateY(-100%);
    width: 350px;
    color: white;
}

.popup-top {
    display: flex;
    flex-direction: column;
    height: 20px;
    margin-bottom: 10px;
}

#popup-title {
    font-size: 20px;
}

#popup-time {
    font-size: 14px;
}

.popup-buttons>img {
    height: 100%;
    cursor: pointer;
}

.popup-buttons {
    margin-left: auto;
    display: flex;
    gap: 15px;
}

#popup-description {
    font-size: 16px;
    height: 6em;
}


@media only screen and (max-width: 600px) {

    .popup-dialog,
    .add-dialog {
        transform: translate(-50%, -110%);
        width: 60vw;
    }

    .add-top input {
        width: 100%;
    }
}